@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.animation-slide {
  animation: slide 40s infinite;
}

@keyframes slide {
  0%, 14.29% {
    background-image: url("./assets/heroBg.jpeg");
  }
  14.3%, 28.57% {
    background-image: url("./assets/herobg2.jpg");
  }
  28.58%, 42.86% {
    background-image: url("./assets/herobg3.jpg");
  }
  42.87%, 57.14% {
    background-image: url("./assets/herobg4.jpg");
  }
  57.15%, 71.43% {
    background-image: url("./assets/herobg5.jpg");
  }
  71.44%, 85.71% {
    background-image: url("./assets/herobg6.jpg");
  }
  85.72%, 100% {
    background-image: url("./assets/herobg7.jpg");
  }
}



.stretch {
  transform: scale(4, 1.5);
  font-family: "Arial";
}

.animation-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(229, 62, 62, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(229, 62, 62, 0);
  }

  100% {
    transform: scale(0.8);
  }
}

/* CSS for Blog Page */
.Blogs {
  background: url("https://cdn.vectorstock.com/i/preview-1x/82/52/white-soft-light-background-vector-26318252.jpg");
  background-size: cover;
  background-position: center;
}
.blog-post {
  position: relative;
  transition: all 0.3s ease;
}

.blog-post:hover {
  transform: translateY(-10px);
}

.blog-post-inner {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.blog-post:hover .blog-post-inner {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* CSS for Contact Page */

.Contact {
  background: url("https://img.freepik.com/free-vector/blurred-bokeh-banner-perfect-backdrop-your-creative-project-vector_1017-48613.jpg");
  background-size: cover;
  background-position: center;
}

.aboutHero{
  background-image: url("https://lh5.googleusercontent.com/p/AF1QipNE9uw_rVqgH7aQEdIw1PjVERXRPItNwYNmoiOg=s709-k-no");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
